<h1>Bar Hopping Events</h1>
<h2>Create any event, as long as it involves drinking.</h2>

<form action="/events/create" method="post">
    <br>
    Event Title:
    <br>
    <input type="text" name="title">
    <br>
    Event date:
    <br>
    <input type="date" name="date">
    <br>
    Event Organizer Name:
    <br>
    <input type="text" name="organizer_name">
    <br>
    Event Organizer email address:
    <br>
    <input type="email" name="organizer_email">
    <br>
    <input type="submit" value="Let's get to it!">
</form>

